[submodule "OneDrive/Older Documents/Desktop/truth-beyond-tradition/repos/rediscover-series"]
	path = OneDrive/Older Documents/Desktop/truth-beyond-tradition/repos/rediscover-series
	url = https://github.com/Oliver1klein1/rediscover-series.git
[submodule "OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/liberating-humanity"]
	path = OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/liberating-humanity
	url = https://github.com/Oliver1klein1/liberating-humanity.git
[submodule "OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/bible-contradictions"]
	path = OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/bible-contradictions
	url = https://github.com/Oliver1klein1/bible-contradictions.git
[submodule "OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/reality-unveiled"]
	path = OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/reality-unveiled
	url = https://github.com/Oliver1klein1/reality-unveiled.git
[submodule "OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/escape-the-hell-myth"]
	path = OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/escape-the-hell-myth
	url = https://github.com/Oliver1klein1/escape_the_hell_myth.git
[submodule "OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/jesus-god"]
	path = OneDrive/Older Documents/Desktop/truth-beyond-tradition/books/jesus-god
	url = https://github.com/Oliver1klein1/jesus-god.git
